[commit]
	gpgsign = true
[user]
	name = Kasra Ghaffari
	email = 18647702+Kasra-G@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[init]
	defaultBranch = main
