let mapleader = " "

nnoremap <leader>ra :action RenameElement<CR>
nnoremap <leader>rr :action RefactorThis<CR>
nnoremap <Leader>ric :action IntroduceConstant<CR>
nnoremap <Leader>riv :action IntroduceVariable<CR>

vnoremap <Leader>ric :action IntroduceConstant<CR>
vnoremap <Leader>riv :action IntroduceVariable<CR>
vnoremap <Leader>ref :action ExtractFunction<CR>

nnoremap <Tab> :tabnext<CR>
nnoremap <S-Tab> :tabprevious<CR>
nnoremap <leader>x :tabclose<CR>

source ~/.vimrc
